# Required Libraries for Ramp VO
PyYAML==6.0.3
numpy==1.24.4
matplotlib==3.7.5
torch-scatter
tensorboard
numba
tqdm
einops
pypose
kornia
plyfile
evo
opencv-python-headless==4.11.0.86
yacs
h5py
hdf5plugin
scikit-learn